@import "../../../../../shared/style/sass/color-vars.scss";
@import "../../../../../shared/style/sass/size-vars.scss";

.tc-reservation-toolbar {
  color: $secondary-text-color;

  > div {
    text-align: center;
  }

  &,
  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__available-seats,
  &__total-price {
    width: 8rem;
  }

  &__available-seats-value,
  &__price-value {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 500;
  }

  &__seats-amount {
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: $main-text-color;
  }

  &__available-seats-title {
    margin-right: 0.5rem;
  }

  &__currency {
    margin-left: 0.25rem;
  }

  @media all and (min-width: $card-min-width) {
    &__seats-amount {
      margin: 0 0.75rem;
    }
  }
}
