@import "../../../../../shared/style/sass/color-vars.scss";

.tc-luggage-prices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.75rem;
  color: $secondary-text-color;
}
