@import "../../../style/sass/color-vars.scss";

.cs-field-group {
  + .cs-field-group {
    margin-top: 1rem;
  }

  &__title {
    color: $secondary-text-darken-color;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 1rem 0 0.5rem;
  }
}
