@import "../../../shared/style/sass/color-vars.scss";
@import "../../../shared/style/sass/size-vars.scss";

.tc-details {
  display: flex;
  flex-direction: column;

  &__container {
    box-sizing: border-box;
    padding: 1rem 0;

    &--footer {
      padding-bottom: 1.5rem;
      background-color: $neutral-fill-color;
    }
  }

  &__title {
    color: $secondary-text-color;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }

  &__small-text {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .tc {
    &-header__day {
      color: rgba($inverse-text-color, 0.4);
    }

    &-direction {
      &__row.arrival .tc-direction__time {
        color: $main-text-color;
        font-weight: 700;
      }

      &__location {
        color: $main-text-color;

        .tc-direction__city {
          display: block;
          margin-right: 0;
          margin-bottom: 0.5rem;
          font-size: 1.25rem;
          font-weight: 700;
        }

        .tc-direction__place {
          font-size: 0.875rem;
          line-height: 1.25rem;
          letter-spacing: 0.03125rem;
        }
      }
    }
  }

  @media all and (min-width: $screen-sm-breakpoint) {
    align-items: center;
  }
}
